
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 30px auto;
            padding: 20px;
            background-color: #00eb8d;
            border-radius: 5px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        input[type="text"] {
            width: 96%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 35px;
            font-size: 23px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;
        }

        li:hover {
            background-color: #0f90e0;
        }

        .complete {
            text-decoration: line-through;
        }

        .add-task {
            text-align: center;
            margin-top: 20px;
        }
